[alias]
	aliases = config --get-regexp alias
	amend = commit --amend --date=now --no-edit
	br = branch
	brd = branch -D
	ci = commit
	cim = commit -m
	co = checkout
	cob = checkout -b
	cp = cherry-pick
	l = log
	pl = pull
	ps = push
	st = status

[commit]
	gpgsign = true

[core]
	editor = nano

[init]
	defaultBranch = main

[push]
	default = current

# Complete the following fields before executing the installation script:

[user]
	name = 
	email = 
	signingkey = 
