# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Python
__pypackages__/
.install-venv/
.venv/
venv/

# PDM
.pdm-python
.pdm.toml

# Node.js
node_modules/

# SSH and GPG keys
*.pub
*.gpg
id_ecdsa
id_ed25519
id_rsa
