[alias]
	aliases = config --get-regexp alias
	br = branch
	brd = branch -D
	brl = branch -l
	brm = branch -m
	ci = commit
	cia = commit --amend --date=now --no-edit
	cim = commit -m
	co = checkout
	cob = checkout -b
	cp = cherry-pick
	l = log
	ls = log -E -i --grep
	pl = pull
	ps = push
	st = status

[branch]
	sort = -committerdate

[commit]
	gpgsign = true

[core]
	editor = nano

[diff]
	algorithm = histogram

[fetch]
	fsckobjects = true

[format]
	pretty = format:%C(yellow)%h %Cblue%>(12)%ad %Cgreen%<(7)%aN%Cred%d %Creset%s

[gpg]
	format = ssh

[init]
	defaultBranch = main

[log]
	date = iso

[pull]
	ff = only

[push]
	autoSetupRemote = true

[receive]
	fsckobjects = true

[tag]
	gpgsign = true

[transfer]
	fsckobjects = true

[url "git@github.com:"]
	insteadOf = "https://github.com/"

[user]
	name = Sebastián Altamirano
	email = 38230545+sebastian-altamirano@users.noreply.github.com
	signingkey = ~/.ssh/id_ed25519.pub
